body{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
}
.logo h2{
    margin-top: 20px;
    color: rgb(245, 112, 63);
    font-size: 40px;
}
.navMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 30px;
    border-bottom: 1px solid rgb(133, 128, 128);
}
.navMenu ul{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 20px;
}
.navMenu ul{
    list-style: none;
    padding-left: 10px;
}
.navMenu ul li{
   text-decoration: none; 
   margin-left: 15px;
   padding: 10px;
   color: rgb(83, 76, 76);
   border-bottom: 2px solid white;
}
.navMenu ul li:hover{
    color: rgb(8, 8, 8);
    border-bottom: 2px solid orangered;
    cursor: pointer;
}

/* profile picture */
.cartProfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}
.profile{
    border: 2px solid black;
    border-radius: 50%;
    height: 25px;
    overflow: hidden;
}
.profile:hover{
    border: 2px solid red;
    cursor: pointer;
}
.profile img{
    width: 30px;
}
/* cart */

.cart{
    margin-right: 20px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.cart img{
    width: 30px;
    /* border-radius: 50%; */
}
.humbugar{
    display: none;
}
.noti{
    background-color: white;
    padding-right: 10px;
    padding: 6px;
    color: wheat;
    border: 0.7px solid white;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    position: absolute;
    width: 12px;
    background-color: rgb(252, 123, 76);
    top: 2%;
    left: 91%;
}

/* Home page */
.homePage{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(248, 248, 248);
    height: 90vh;
}
.brand{
    margin-top: 10%;
    margin-left: 3%;
}
.brand h2{
    color: rgb(254, 117, 68);
    font-weight: bold;
    font-size: 30px;
    width: 60%;
}
.brand p{
    width: 100%;
    font-size: 20px;
    padding-right: 70px;
}
.brand div{
    display: flex;
    margin-top: 40px;
    align-items: center;
}
.brand div input{
    background-color: rgb(254, 117, 68);
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 20px;
}
.brand div input:hover{
    background-color: rgb(241, 156, 125);
}


/* main body */
.bodyMain{
    display: none;
    flex-direction: row;
    padding-top: 4%;
}
.priceSection{
    display: flex;
    flex-direction: column;
}
.Image{
    width: 40%;
    padding-left: 40px;
}
.displayed img{
  width: 70%;
  border-radius: 5%;
}
.displayed{
    padding-left: 50px;
    border-radius: 70px;
    padding-bottom: 10px;
}
.discription h3{
    color: orangered;
}
.discription h1{
    width: 290px;
}
.mainPrice{
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 110px;
    color: black;
}
.dicount{
    background-color: rgb(246, 203, 186);
    height: 15px;
    padding: 2px;
    border-radius: 2px;
    color: orangered;
    font-weight: bold;
}
.discountPrice{
    font-size: 16px;
    font-weight: 900;
    color: gray;
}
/* displayed image */
.next{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 150px;
    left: 80%;
    padding-top: 3px;
}
.previous{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 150px;
}
.arrow:hover{
    color: orangered;
    cursor: pointer;
}
.displayImage{
    display: flex;
    flex-direction: row;
    position: relative;
}
.price{
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.others{
    display: flex;
    flex-direction: row;
}
.others img{
    width: 100px;
    padding-left: 10px;
}
.cardAdd{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.addItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(210, 241, 241);
    padding: 3px;
    width: 80px;
}
/* .priceSection{
    display: flex;
    flex-direction: column;
} */
.addItem button{
    border: none;
    background-color: rgb(210, 241, 241);
}
.addItem button:hover{
    background-color: rgb(97, 229, 229);
    cursor: pointer;
}
.others div{
    border-radius: 80px;
}

.details{
    width: 60%;
    margin-right: 70px;
    margin-left: 40px;
}

.Cartbutton button img{
    width: 10px;
}
.Cartbutton button{
    margin-left: 6px;
    background-color: rgb(251, 118, 70);
    border: none;
    padding: 6px;
}
.Cartbutton button:hover{
    background-color: rgb(237, 161, 134);
}

/* collection */
.products img{
    width: 110px;
}
.collection{
    display: none;
}
.products{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    padding-top: 20px;
    padding-left: 20px;
}
.pro-items{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(112, 107, 107);
    padding: 10px;
    margin-bottom: 10px;
}
.pro-items .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
.pro-items .about span{
    border: 1px solid black;
    padding: 4px;
    border-radius: 6px;
}
.product{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    padding: px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product span{
    padding: 6px;
    border: 1px solid rgb(70, 64, 64);
    margin-left: 10px;
    border-radius: 10px;
}
.product h2{
    font-size: 14px;
    display: flex;
    
}
.pro-items img{
    width: 200px;
}
.pro-items button{
    border: none;
    padding: 8px;
}
.pro-items button:hover{
    background-color: rgb(211, 243, 243);
}
/* cart items */
.cart-items{
    display: none;
    background-color: white;
    width: 100%;
    height: 90vh;
}
/* items on cart */
.itemsOnCart img{
    width: 80%;
}
.itemsOnCart input{
    width: 40px;
    margin-left: 40px;
    margin-right: 10px;
    outline: none;
    border: 0.7px solid black;
    border-radius: 5px;
    padding: 5px;
}
.itemsOnCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(121, 109, 109);
    width: 70%;
    margin-left: 230px;
}
.cartitem{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.price{
    display: flex;
    flex-direction: row;
    margin-left: 140px;
    width: 50%;
    font-size: 13px;
}
.price div{
    margin-left: 150px;
}
.itemsOnCart div{
    padding-left: 30px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
    margin-top: 0;
    border-bottom: 1px solid rgb(117, 110, 110);
    padding-bottom: 6px;
}
.cart-items .discri{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-left: 60px;
    border-bottom: 1px solid rgb(88, 83, 83);
}
.sub-dis{
    display: flex;
    justify-content: center;
}
.head{
    color: rgb(50, 170, 226);
}
/* mobile */
.mobile{
    display: none;
}
/* payment section */


.payment{
    display: none;
    position: relative;
    width: 100px;
    left: 83%;
    margin-top: 20px;
}
.payment div label{
    color: rgb(12, 141, 228);
    font-size: 20px;
    font-weight: 400;
}
.payment button{
    padding: 10px;
    border: none;
    background-color: rgb(12, 141, 228);
    color: white;
    border-radius: 10px;
}
.payment div h3{
    display: flex;
    justify-content: cente;
}
.humNotification{
    display: none;
}
/* styyes for mobile */
@media(max-width: 360px){
    body{
        width: 100%;
    }
    .main{
        width: 100%;
    }
    .navMenu{
        display: none; 
       
    }
    .navMain{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
    }
    .homePage{
        display: flex;
        flex-direction: column;
        padding-left: 5px;
    }
    .brandImage img{
        width: 300px;
    }
    .brand h2{
        width: 100%;
        font-size: 1.2rem;
    }
    .noti{
        position: relative;
        top: -50%;
    }
    .logo h2{
        margin-top: 5px;
        font-size: 1.5rem;
    }
    .itemsOnCart{
        margin-left: 0px;
        width: 100%;
        
    }
    .itemsOnCart img{
        width: 50%;
    }
    .humNotification{
        display: flex;
        justify-content: space-between;
        margin-top: .5rem;
    }
    .mobileNoti{
        margin-right: 10px;
    }

    .brand p{
        width: 80%;
    }
    .brandImage{
        overflow: hidden;

    }
    .brandImage img{
        width: 100%;
       
    }


    .pro-items{
       width: 100px;
    }
    .pro{
        width: 100%;
    }
    .pro img{
        width: 100%;
    }
    .humbugar{
        position: relative ;
        display: block;
        width: 35px;
        cursor: pointer;
    
        appearance: none;
        background-color: none;
        outline: none;
    }
    .bar{
        position: relative;
    }
    .humbugar .bar, .humbugar::after, .humbugar::before{
        content: "";
        display: block;
        width: 80%;
        height: 3px;
        background: black;
        margin: 4px 0px;
    }
    .humbugar.is-active::before{
        transform: rotate(-45deg) translate(-1px,6px);
    }
    .humbugar.is-active::after{
        transform: rotate(45deg) translate(-5px,-9px);
    }
    .humbugar.humbugar.is-active .bar{
        opacity: 0;
    }
    
    .sub-dis{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-size: 12px;
    }
    .price{
        margin-left: 5px;
        width: 10%;
        font-size: 11px;
    }
    .price div{
        margin-left: 10px;
    }
    .profile{
        display: none;
    }
    .cartProfil{
        margin-top: 0px;
        margin-left: 70px;
    }
    .cartitem{
        width: 100%;
        padding-left: 10px;
        
    }
    .cart-items{
        width: 100%;
    }
    .cart-items .discri{
        margin-left: 20px;
        width: 80%;
        border-bottom: none;
        height: 50px;

    }
    .itemsOnCart input{
        margin-left: 0px;
        width: 20px;
    }
    .itemsOnCart div{
        padding-left: 0px;
        padding-right: 10px;
    }
    .payment{
        position: relative;
       left: 30%;
    }
    .products{
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-top: 20px;
        padding-left: 20px;
    }
    .product{
        width: 90px;
    }
    .header{
        width: 100%;
        display: block;
    }
    .head{
        margin-left: 4rem; 
    }
    .header p{
        margin-left: 4rem; 
    }
    .btn2{
        margin-left: 30px;
    }
    /* moblile nav menu */
    .mobile-nav{
        position: fixed;
        width: 100%;
        display: block;
        height: 100vh;
        top: 9%;
        z-index: 90;
        background: red;
    }
    

}